:root {
    --color-verde: #0CD664;
    --color-gris: #31373F;
    --color-azul-oscuro: #1F262F;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-azul-oscuro);
    overflow-x: hidden;
     user-select: none;
}
/* header */
header{
    background-color: var(--color-gris);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    padding: 0 50px 0 50px;
    z-index: 1000;
}
header img{
    width: 200px;
}
header button{
    background-color: var(--color-verde);
    height: 45px;
    border: none;
    outline: none;
    margin: 0 10px 0 10px;
    color: white;
    /* font-weight: 500; */
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 20px var(--color-verde);
}
@keyframes buttonHeader {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
    100% { transform: scale(1); }
}
header button:hover{
    cursor: pointer;
    background-color: var(--color-gris);
    border: 1px solid var(--color-verde);
}
.conteiner2{
    /* background-color: red; */
    display: flex;
}
.buttonWhatsapp{
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    animation-name: buttonHeader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.buttonRegistrarse{
    width: 150px;
    border-radius: 10px;
    animation-name: buttonHeader;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
/* fin header */

/* carrousel */
 .conteinerCarrousel{
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
 }
 .carrousel{
    /* background-color: blue; */
    width: 90%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .carousel img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit:cover;
 }
 .carousel{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
 }
 .carousel-inner{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
 }
 .carousel-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit:cover;
 }  
 /* fin carrousel */

 /* slider */
  .conteinerSlider{
    /* background-color: red; */
    background: linear-gradient(180deg, #0CD664 0%, #2EA060 100%);
    box-shadow: 0px 0px 25px var(--color-verde);
    width: 100vw;
    max-width: 100vw;
    height: 230px;
    margin: 20px 0 0px 0;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 300;
    position: relative;
}
  .conteinerSlider h3{
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .conteinerSlider .glide__slide{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
  }
  .conteinerSlider .glide__slide img{
    width: 160px;
  }
  .conteinerSlider .glide__arrows button{
    /* background-color: red; */
    border: none;
    box-shadow: none;
  }
  .conteinerSlider .glide__arrows button svg{
    width: 30px;
    height: 30px;
    /* color: white; */
  }
 /* fin slider */

/* banner 3 */
 .conteinerBanner3{
    position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  color: white;
}
.conteinerBanner3::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('./assets/img/fondo-juegos.webp');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1; /* se pone detrás del contenido */
  }
.subConteinerBanner3{
    width: 100vw;
    height: 100vh;
    background-color: #1f262f64;
    z-index: 100;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}
.conteinerBanner3 p{
    margin: 25px 0 25px 0;
    font-weight: 300;
}
.conteinerBanner3 button{
    background-color: var(--color-verde);
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 0 10px 0 10px;
    color: white;
    /* font-weight: 500; */
    /* font-size: 16px; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* box-shadow: 0px 0px 20px var(--color-verde); */
    animation-name: buttonBanner3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes buttonBanner3 {
    0%   { transform: translateY(1); }
    50%  { transform: translateY(30px); }
    100% { transform: translateY(1); }
}
.conteinerBanner3 button:hover{
    cursor: pointer;
    background-color: var(--color-gris);
    border: 1px solid var(--color-verde);
    animation-play-state: paused;
}
.conteinerBanner3 button a{
    color: white;
    outline: none;
    text-decoration: none;
}

 /* fin banner 3 */

    /* slider 2 */
    .conteinerSlider2{
        background-color: var(--color-azul-oscuro);
        /* background: linear-gradient(180deg, #0CD664 0%, #2EA060 100%); */
        /* box-shadow: 0px 0px 25px var(--color-verde); */
        width: 100vw;
        max-width: 100vw;
        /* height: 230px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 20px 0 0px 0; */
        padding: 20px 10% 20px 10%; 
        z-index: 300;
        position: relative;
    }
    .conteinerSlider2 p{
        color: white;
        margin: 30px;
        text-align: center;
    }
    .conteinerSlider2 a{
        color: var(--color-verde);
        text-decoration:underline;
    }
     /* .conteinerSlider2 h3{
        color: white;
        font-size: 22px;
        margin-bottom: 20px;
      } */
        .glide__track2{
            /* background-color: red; */
            width: 800px;
        }
        
    .glide__slide2{
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      .glide__slide2 img{
        width: 130px;
      }

    /* fin slider 2 */

    /* banner whastapp */
     .containerBannerWhatsapp{
        background: linear-gradient(180deg, #0CD664 0%, #2EA060 100%);
        box-shadow: 0px 0px 25px var(--color-verde);
        width: 100vw;
        height: auto;
        max-height: 450px;
        z-index: 400;
        position: relative;
        padding: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
     .containerBannerWhatsapp svg{
        width: 100px;
        margin: 15px 0 15px 0;
        animation-name: logoBannerWhatsapp;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
     }
     .containerBannerWhatsapp h3{
        font-size: 42px;
        margin: 15px 0 15px 0;
     }
     .containerBannerWhatsapp a{
        background-color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        color: var(--color-verde);
        font-weight: 600;
        font-size: 16px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 15px 0 15px 0;
    }
     .containerBannerWhatsapp a:hover{
        color: white;
        background-color: rgba(255, 0, 0, 0);
        border: 1px solid white;
        cursor: pointer;
        transform: scale(1.1);
        text-decoration: none;
    }
    @keyframes logoBannerWhatsapp {
        0%   { transform: rotate(0deg); }
        25%  { transform: rotate(-10deg); }
        50%  { transform: rotate(10deg); }
        75%  { transform: rotate(-3deg); }
        100% { transform: rotate(0deg); }
      }
      
    /* fin banner whatsapp */

      /* banner 4 */
      .containerBanner4{
        background-image: url(./assets/img/fondo-patron.webp);
        background-size: cover;
        width: 100vw;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        text-align: center;
      }
      .containerBanner4 .number{
        font-size: 150px;
        font-weight: 700;
        color: var(--color-verde);
      }
      .containerBanner4 .tercerH2 b{
        color: var(--color-verde);
      }
      .containerBanner4 a{
        background-color: var(--color-verde);
        width: 180px;
        height: 45px;
        border: none;
        border-radius: 10px;
        outline: none;
        margin: 0 10px 0 10px;
        color: white;
        /* font-weight: 500; */
        /* font-size: 16px; */
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        /* box-shadow: 0px 0px 20px var(--color-verde); */
        animation-name: buttonBanner3;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .containerBanner4 a:hover{
        background-color: rgba(255, 0, 0, 0);
        border: 1px solid var(--color-verde);
        animation-play-state: paused;
    }
      /* banner 4 */

      /* banner 5 */
       .containerBanner5{
        /* background-color: red; */
        background-image: url(./assets/img/banner-gral-deportes-Desktop-21.webp);
        background-repeat: repeat-x;
        background-size: 200%;
        background-position: center;
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        color: white;
       }
       .containerBanner5::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5); /* cambia opacidad según quieras */
        z-index: 100;
        
        backdrop-filter: blur(2px);
      }
       .containerBanner5 h2{
        font-size: 40px;
        margin: 20px 0 20px 0;
        z-index: 150;
       }
       .containerBanner5 p{
        z-index: 150;
       }
       .containerBanner5 a{
        background-color: var(--color-verde);
        width: 180px;
        height: 45px;
        border: none;
        border-radius: 10px;
        outline: none;
        margin: 0 10px 0 10px;
        color: white;
        /* font-weight: 500; */
        /* font-size: 16px; */
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        /* box-shadow: 0px 0px 20px var(--color-verde); */
        animation-name: buttonBanner3;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        z-index: 150;
    }
    .containerBanner5 a:hover{
        background-color: rgba(255, 0, 0, 0);
        border: 1px solid var(--color-verde);
        animation-play-state: paused;
    }
       /* fin banner 5 */
      
    /* cards */
    .containerCards {
    width: 100vw;
    min-height: 100vh; /* Solo si quieres centrar verticalmente respecto al viewport */
    background-color: var(--color-azul-oscuro);
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center; /* centra horizontalmente */
    align-content: center;   /* centra verticalmente */
    gap: 20px; /* separa las tarjetas de forma más limpia */
}

.card{
    width: 100%;
    /* height: 400px; */
    background-color: var(--color-gris);
    border-radius: 30px;
    color: white;
    padding: 50px;
    display: flex;
    /* align-items: center; */
     /* justify-content: center; */
}
.card svg{
    width: 50px;
    fill: var(--color-verde);
}
.card p{
    
    font-size: 16px;
}
.titleCard{
    color: var(--color-verde);
    margin: 20px 0 20px 0;
}
    /* fin cards */

/* footer */
 footer{
    background-color: var(--color-gris);
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 footer img{
    width: 800px;
 }
 footer p{
    color:  white;
    font-size: 12px;
    margin: 20px 0 20px 0;
    padding: 40px 0 40px 0;
    border-top: 1px solid white;
 }
/* fin footer */

/* codigo qr */
 .containerQr{
    /* background-color: red; */
    position: fixed;
    right: 5%;
    bottom: 15%;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: animationQr;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: initial; */
    animation-fill-mode: both;
}
 .containerQr p{
    color: white;
    font-size: 32px;
    color: var(--color-verde);
    font-weight: 800;
    text-shadow: 2px 2px 1px white;
 }
 .containerQr img{
    width: 200px;
 }
 
@keyframes animationQr {
    0%   { bottom: -50%; }
    50%  { bottom: 25%; }  /* sube más de lo necesario */
    70%  { bottom: 10%; }  /* baja un poco de más */
    85%  { bottom: 17%; }  /* sube un poco */
    100% { bottom: 15%; }  /* se acomoda */
}

 /* fin codigo qr */

 /* media queries */
  @media (max-width: 1024px) {
    .containerCards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
  }
    footer img{
        width: 100%;
  }
}
 @media (max-width: 600px) {
    .glide__track2{
        /* background-color: red; */
        width: 100vw;
    }
 }
 @media (max-width: 600px) {
    header{
        padding: 0 10px 0 10px;
    }
    header img{
        width: 50%;
        min-width: 150px;
    }
    header button{
        font-size: 12px;
    }
    button.buttonRegistrarse{
        width: 100px;
    }
    .conteinerSlider{
        margin: 20px 0 0px 0;
        padding: 20px 10px 20px 10px;
    }
    .glide__slide img{
        width: 140px;
      }
      .subConteinerBanner3{
        padding: 20px;
      }
    .subConteinerBanner3 h1{
        font-size: 30px;
    }
    .containerBannerWhatsapp{
        padding: 20px;
    }
    .containerBannerWhatsapp h3{
        font-size: 30px;
     }
     .containerBanner4{
        background-size: auto;
        background-repeat: no-repeat;
     }
     .containerBanner4 h2{
        font-size: 25px;
     }
     .containerBanner4 .number{
        font-size: 20vw;
     }
     .containerBanner5{
        /* background-color: red; */
        /* background-image: url(./assets/img/banner-gral-deportes-Desktop-21.webp); */
        background-repeat: no-repeat;
        background-size: cover;
     }
     .containerBanner5{
        padding-left: 20px;
     }
     .containerBanner5 h2{
        font-size: 30px;
    }
    .containerCards{
        padding: 50px 10px 50px 10px;
    }
    .card{
        padding: 10px;
        align-items: center;
     /* justify-content: center; */
     text-align: center;
     padding: 20px 10px 20px 10px;
    }
    .card svg{
        width: 50px;
    }
    .card p{
        font-size: 14px;
    }
    footer{
        padding: 20px;
    }
     .containerQr img{
        width: 150px;
    }
    .containerQr p{
        color: white;
        font-size: 18px;
        color: var(--color-verde);
    /* font-weight: 800; */
    text-shadow: 1px 1px 1px white;
 
    }
  }

  @media (max-width: 370px) {
    header button{
        font-size: 10px;
        margin: 3px;
        height: 30px;
        width: 100px;
    }
    .conteiner2{
        flex-direction: column;
    }
    button.buttonRegistrarse{
        /* width: 100px; */
    }
    .buttonWhatsapp{
        width: 100px;
        padding: 15px;
        display: flex;
        justify-content: center;
        order: 2;
    }
    .buttonWhatsapp svg{
        width: 20px;
        /* z-index: 400; */
    }
    .buttonRegistrarse{
        order: 1;
    }
    .conteinerSlider{
        margin: 20px 0 0px 0;
        padding: 20px 10px 20px 10px;
    }
     .glide__slide img{
        width: 100px;
        margin: 5px;
      }
     .conteinerSlider .glide__slide img{
        width: 120px;
        /* background-color: red; */
      }
  }
  /* fin media queries */